<app-nav></app-nav>

<div class="header">
    <img class="background-image" [src]="productImageUrl" alt="{{productTitle}} image" />
    <div class="overlay-fade-down"></div>

    <div class="header-content">
        <div class="main-content">
            <h1 class="title">{{productTitle}}</h1>
            <h2 class="details">
                {{productDescription}}
                <br>
                <span class="price">${{productPrice}}</span>
            </h2>
        </div>
    </div>
</div>

<section class="container">
    <h3 class="text-red">Customization</h3>
    <ul class="product-details">
        <li class="product-detail" *ngFor="let details of productDetails; let detailPos = index">
            <h3 class="text-red">{{details.title}}</h3>
            <ul class="product-detail-list">
                <li class="product-detail-item" *ngFor="let item of details.items; let pos = index">
                    <label class="product-detail-item-title">{{item.name}} <span class="price">${{item.price}}</span></label>
                    <input *ngIf="details.multipleChoice" name="{{details.title}}" type="checkbox" [(ngModel)]="item.selected" /> 
                    <input *ngIf="!details.multipleChoice" name="{{details.title}}" type="radio" [(ngModel)]="details.selectedItem" value="{{pos}}" />
                    <select [(ngModel)]="item.quantity" [disabled]="!isSelected(detailPos, pos)">
                        <ng-container *ngFor="let pos of [].constructor(item.maxQuantity - item.minQuantity + 1); let i = index">
                            <option [value]="item.minQuantity + i" [selected]="item.quantity === item.minQuantity + i">{{item.minQuantity + i}}</option>
                        </ng-container>
                    </select>
                </li>
            </ul>
        </li>
    </ul>
</section>
