<app-admin-nav></app-admin-nav>

<div id="mainContainer" class="container-25-75">
    <div class="container">
        <h1 class="title">Edit / Add<br>Inventory Product</h1>

        <h2 [ngClass]="messageClass">{{message}}</h2>

        <div class="card">
            <section id="ingredient-details">
                <section class="left">
                    <fieldset>
                        <label for="name">Name:</label>
                        <input type="text" id="name" [(ngModel)]="name" placeholder="Ingredient name" required>
                    </fieldset>
                    <fieldset>
                        <label for="description">Description:</label>
                        <textarea type="text" id="description" [(ngModel)]="description" placeholder="Ingredient description" rows="4"></textarea>
                    </fieldset>
                    <app-photo-upload [photoURL]="photoUrl" (base64String)="setImage($event)"></app-photo-upload>
                </section>
                <section class="right">
                    <fieldset>
                        <label for="productLink">Supplier / Product Link:</label>
                        <input type="text" id="productLink" [(ngModel)]="productLink" placeholder="Ingredient url">
                    </fieldset>
                    <fieldset>
                        <label for="quantity">Current Stock</label>
                        <input type="number" id="quantity" [(ngModel)]="currentStock" placeholder="0" min="0" required>
                    </fieldset>
                    <fieldset>
                        <label for="price">Price</label>
                        <input type="number" id="price" [(ngModel)]="price" placeholder="0" min="0" step="any" required>
                    </fieldset>
                </section>
            </section>
            <section class="buttons">
                <a class="btn" (click)="deleteItem()" *ngIf="editing">Delete</a>
                <a class="btn" (click)="saveItem()">Save</a>
            </section>
        </div>
    </div>
</div>