<h1>Create a product</h1>

<fieldset>
    <label for="photo">Photo:</label>
    <input type="file" id="photo" (change)="onFileSelected($event)" accept="image/*" />
</fieldset>
<fieldset>
    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="name" required />
</fieldset>
<fieldset>
    <label for="description">Description:</label>
    <input type="text" id="description" [(ngModel)]="description" required />
</fieldset>
<fieldset>
    <label for="price">Price:</label>
    <input type="number" id="price" [(ngModel)]="price" required />
</fieldset>

<button (click)="createProduct()">Create Product</button>