.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    width: 100%;
}

.navbar-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.navbar-item {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #007bff;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    border: none;
    display: inline-block;
    text-align: center;
}
.navbar-item:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

svg {
    color: #C900FF;
    height: fill-available;
    width: auto;
}