.inventory-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 80%;
    margin: 0;
}
.options .btn {
    padding: 10px 20px;
}

.inventory-list {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    overflow-y: auto;
}

.inventory-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    max-width: 300px;
    width: 20vw;
    padding: 15px 30px;
    box-sizing: border-box;

    background-color: #291F37;

    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #C900FF;
}
.item-img {
    width: 100%;
    height: auto;

    border-radius: 10px;
}

.item-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.item-details > h2 {
    font-size: 2vw;
    
    color: #DA0000;
    font-weight: bold;
    text-transform: capitalize;

    margin: 0;
    margin-top: 10px;
    padding: 0;
}
.item-details > h2 .small {
    font-size: 1vw;
    font-weight: normal;
    color: #8D8B8F;
}

.quantity-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.quantity-selector > a {
    text-decoration: none;
    width: 20%;
    user-select: none;
}
.quantity-selector > input {
    font-size: 2vw;
    font-weight: bold;
    text-align: center;

    width: 30%;
    padding: 5px 15px;

    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #C900FF;
    
    background: none;
    color: #FFFFFF;
}
.quantity-selector > input:focus {
    outline: none;
}
.ingredient-btn {
    margin: 0 5px;
    cursor: pointer;
    user-select: none;
}

.item-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
}
.item-actions .btn {
    width: auto;
}


.btn-save {
    border-style: solid;
    border-color: #69DA00;
}

@media (max-width: 1023px) {
    .inventory-list {
        grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
    }
    .inventory-item {
        width: 30vw;
    }
}

@media (max-width: 768px) {
    .item-details > h2 {
        font-size: 2.5vw;
    }
    .item-details > h2 .small {
        font-size: 1.5vw;
    }
}

@media (max-width: 550px) {
    .inventory-list {
        grid-template-columns: repeat(auto-fit, minmax(60vw, 1fr));
    }
    .inventory-item {
        width: 60vw;
    }
    .item-details > h2 {
        font-size: 4vw;
    }
    .item-details > h2 .small {
        font-size: 2.5vw;
    }
    .quantity-selector > input {
        font-size: 4vw;
    }
    .options {
        flex-direction: column;
        gap: 5px;
    }
}