.inventory-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 80%;
    margin: 0;
}
.options .btn {
    padding: 10px 20px;
}

.inventory-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 27vw);
    gap: 2vw;
    width: 90%;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: auto;
}

.inventory-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 20vw;
    padding: 2vw 3vw;

    background-color: #291F37;

    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #C900FF;
}
.item-img {
    width: 100%;
    height: auto;

    border-radius: 10px;
}

.item-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.item-details > h2 {
    font-size: 2vw;
    
    color: #DA0000;
    font-weight: bold;
    text-transform: capitalize;

    margin: 0;
    margin-top: 10px;
    padding: 0;
}
.item-details > h2 .small {
    font-size: 1vw;
    font-weight: normal;
    color: #8D8B8F;
}

.quantity-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.quantity-selector > a {
    text-decoration: none;
    width: 20%;
}
.quantity-selector > input {
    font-size: 2vw;
    font-weight: bold;
    text-align: center;

    width: 30%;
    padding: 5px 15px;

    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #C900FF;
    
    background: none;
    color: #FFFFFF;
}
.quantity-selector > input:focus {
    outline: none;
}
.ingredient-btn {
    cursor: pointer;
    user-select: none;
}

.item-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
}
.item-actions .btn {
    width: auto;
}


.btn-save {
    border-style: solid;
    border-color: #69DA00;
}

